@model List<FinalProject.Models.Entities.Inventory>

@{
    ViewData["Title"] = "Inventory List";
}


<h2>Inventory List</h2>

<a asp-action="Create" class="btn btn-primary mb-3">Add New Item</a>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Item Name</th>
            <th>Amount Sold</th>
            <th>Total Price</th>
            <th>Date Sold</th>
            <th>Item Type</th>
            <th> </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var inventory in Model)
        {
            <tr>
                <td>@inventory.ItemName</td>
                <td>@inventory.AmountSold</td>
                <td>@inventory.TotalPrice</td>
                <td>@inventory.DateSold.ToShortDateString()</td>
                <td>@inventory.ItemType</td>
                <td>
                    <a class="btn btn-primary" asp-controller="Inventory" asp-action="Edit" asp-route-id="@inventory.Id"> Edit </a>
                </td>
            </tr>
        }
    </tbody>
</table>
